* {
    font-family: Arial;
}

body {
    margin:0;
    padding:0;
}

header{
    display:flex;
    justify-content: center;
    height:120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width:990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display:block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color:#727272;
    font-family: Arial;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color:white;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../Image/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1{
    color:#ffffff;
    font-size: 70px;
    text-shadow:0px 1px 1px #555555;
    margin:0;
    padding:0;
    max-width: 350px;
}

.banner_headline h2{
    color:#ffffff;
    font-size: 20px;
    text-shadow:0px 1px 1px #555555;
    margin:0;
    padding:0;
    max-width: 350px;
    margin-top:30px;
}

.banner_options {
    height: 210px;
    display:flex;
}

.banner1,
.banner2,
.banner3 {
    flex:1;
    color:#fff;
    padding:20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size:21px;
    
}

.banner3 .banner_title{
    padding-bottom: 20px;
}

.banner_desc {
    font-size:12px;
    margin-top:20px;
    margin-bottom:20px;
}

.banner_options a {
    display:inline-block;
    border:1px solid #fff;
    padding:5px;
    font-size:12px;
    text-decoration: none;
}

.week-hours{
    display: flex;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom:5px ;
}

#geral {
    display: flex;
    justify-content:center;
}

#geral section {
    flex:2;
}

#geral aside {
    flex:1;
}

.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 10px;
}

.content_title_text {
    margin-top: 20px;
    padding-bottom: 7px;
}

.content_title_bar {
    width:45px;
    height: 3px;
    background-color: #32a4ef;
}

.content_date {
    display:flex;
    margin-bottom: 10px;
    padding-top: 20px;
    color:white;
}

.date {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: blue;
    margin-right: 1px;
}

.number {
    display:flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 30px;
    background-color: rgb(69, 69, 255);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    min-width: 290px;
    flex:1;
    padding:10px;
    padding-left:0px;
}

article a {
    text-decoration:none;
    color: #000;
}

article .img2 img {
    width:100%;
    height:auto;
}



.widget_title{
    padding-bottom:30px;
}

.widget_title_text {
    padding-top: 20px;
    padding-bottom: 7px;
}

.widget_title_bar {
    width:45px;
    height: 3px;
    background-color: #32a4ef;
    margin-bottom: 20px;
}

.widget_body {
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
 
.square, .square1  {
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
    background-color: blue;
}

.widget_desc {
    padding:30px;
    border-bottom:2px solid
}

.widget_title ul li {
    list-style: square;
    margin:20px;
    padding:10px;
    border-bottom:2px solid;
}

.widget_title ul {
    padding-left: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-color: #000;
}

footer .container {
    display: flex;
    flex-direction: column;
}

.footer_options {
    color:white;
    display:flex;
    width: 100%;
}
.footer_desc {
    color:#fff;
    display:flex;
    width: 100%;
}

.ft1_contact div{
    width: 145px;
    flex:1;
}

.ft1 p, 
.ft2 p, 
.ft3 p {
    font-size: 12px;
    color:gray;
}

.fb_title {
    font-size: 21px;
}

.fb1 {
    background-color: #39aae1;
}

.fb2 {
    background-color: #0079c7;
}

.fb3 {
    background-color: #2b4c99;
}

.fb1,
.fb2,
.fb3 {
    padding-left: 20px;
}

.fb1, .ft1,
.fb2, .ft2,
.fb3, .ft3 {
    flex:1;
    padding-right:20px;
    padding-bottom:20px;
    padding-top:20px;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height:3px;
    background-color: #39aae1;
}

.hr {
    display: flex;
    align-self: center;
    background-color: #222;
    width: 100%;
    height: 0.5px;
    margin-bottom: 20px;
}

@media (max-width:600px) {
    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container  {
        flex-direction: column;
    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .widget_body{
        display: flex;
        justify-content: center;
    }

    .square, .square1{
     width: 200px;
    height: 200px;   
    }

    .footer_options,
    .footer_desc {
    flex-direction: column;
    height:100%;
    }

    .ft1,
    .ft2,
    .ft3  {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left:0;
        width: 100%;
        background-color: #fff;
    }

    header {
        height: auto;
    }

    .logo{
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}